@{
    ViewBag.Title = "Inicio";
}

<div class="row justify-content-center">
    <h3 class="text-black-50">Cartelera</h3>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://pics.filmaffinity.com/Dark_Light-456743478-large.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">En la oscuridad</h5>
                    <p class="card-text">Sinopsis: Tras la muerte de su madre y un doloroso divorcio, Annie y su hija Emily regresan a su hogar de la infancia. Al principio, todo parece estar bien, pero luego la tragedia vuelve a ocurrir cuando en una noche brumosa Emily desaparece de su habitación.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores: Jessica Madsen, Opal Littleton, Ed Brody, Kristina Clifford</li>
                    <li class="list-group-item">Director: Padraig Reynolds</li>
                    <li class="list-group-item">País: Georgia</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: B</li>
                    <li class="list-group-item">Duracion: 90 minutos</li>
                    <li class="list-group-item">Genero: Terror</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=9BLqqWaqfRI" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt9135260/reviews" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://static.cinepolis.com/resources/mx/movies/posters/414x603/34747-720358-20200812102735.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">estacion zombie 2: peninsula</h5>
                    <p class="card-text">Sinopsis: Después de que la infección que se extendió hace 4 años, solo algunas partes de Corea del Sur permanecen resguardadas, aunque la Península de Busan es la única parte en donde pueden buscar refugio los coreanos, muchos aún mantienen la esperanza de ser rescatados por ayuda internacional.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores: Gong Yoo, Choi Woo-sik, Mason Elston Cook y Jeong Yu-mi.</li>
                    <li class="list-group-item">Director: Sang-ho Yeon</li>
                    <li class="list-group-item">País: Corea del Sur</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: B15</li>
                    <li class="list-group-item">Duracion: 116 minutos</li>
                    <li class="list-group-item">Genero: Accion, Terror</li>
                </ul>
                <div class="card-body">
                    <a href= "Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=rm_Vxn5LVYA" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt8850222/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://i2.wp.com/hiramnoriega.com/wp-content/uploads/2020/10/4324343243245453.jpg?resize=500%2C741&ssl=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Venganza Implacable</h5>
                    <p class="card-text">Sinopsis: Un atracador de bancos se entrega a la policía porque se ha enamorado y decide llevar una vida honrada. Cuando descubre que los federales son aún más corruptos que él se verá obligado a utilizar todas sus artimañas para limpiar su nombre.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores: Liam Neeson, Robert Patrick, Jai Courtney, Kate Walsh</li>
                    <li class="list-group-item">Director: Mark Williams</li>
                    <li class="list-group-item">País: Estados Unidos</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: B</li>
                    <li class="list-group-item">Duracion: 99 minutos</li>
                    <li class="list-group-item">Genero: Accion</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=aa74oId0RNc" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt1838556/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://static.cinepolis.com/resources/mx/movies/posters/414x603/35282-678989-20201006085519.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Freaky: Este Cuerpo Está para Matar</h5>
                    <p class="card-text">Sinopsis: Tras intercambiar su cuerpo con un asesino en serie, una joven estudiante descubre que tiene menos de 24 horas antes de que el cambio sea permanente. Del director de "Feliz día de tu muerte".</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores: Vince Vaughn, Kathryn Newton, Alan Ruck, Uriah Shelton</li>
                    <li class="list-group-item">Director: Christopher Landon</li>
                    <li class="list-group-item">País: Estados Unidos</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: B15</li>
                    <li class="list-group-item">Duracion: 103 minutos</li>
                    <li class="list-group-item">Genero: Terror</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=PXOcQRAVPvY" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt10919380/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://pbs.twimg.com/media/EjVH3ocWkAEuD03?format=jpg&name=large" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Las brujas</h5>
                    <p class="card-text">Sinopsis: Cuenta la conmovedora historia de un pequeño huérfano (Bruno) que, a finales de 1967, se va a vivir con su querida abuela a Demopolis, un pueblo de Alabama. El niño y su abuela tienen extraños encuentros con algunas brujas aparentemente glamurosas pero absolutamente diabólicas, así que ella decide quitarse de en medio y llevarse al chico a un hotel de lujo en la costa.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores: Anne Hathaway, Octavia Spencer, Stanley Tucci, Chris Rock</li>
                    <li class="list-group-item">Director: Robert Zemeckis</li>
                    <li class="list-group-item">País: Estados Unidos</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: B</li>
                    <li class="list-group-item">Duracion: 105 minutos</li>
                    <li class="list-group-item">Genero: Comedia</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=DVXLPvlu4DQ" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt0805647/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://pics.filmaffinity.com/Nuevo_orden-511987866-large.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Nuevo orden</h5>
                    <p class="card-text">Sinopsis: Una fastuosa boda de alta alcurnia se convierte inesperadamente en una lucha entre clases que deriva en un violento golpe de estado. Visto a través de los ojos de una joven prometida y de los sirvientes que trabajan para su pudiente familia, 'Nuevo orden' sigue las huellas del derrumbe de un sistema político y del nacimiento de un desgarrador nuevo reemplazo</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores: Diego Boneta, Naian González Norvind, Mónica del Carmen, Fernando Cuautle.</li>
                    <li class="list-group-item">Director: Michel Franco</li>
                    <li class="list-group-item">País: Mexico</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: B15</li>
                    <li class="list-group-item">Duracion: 86 minutos</li>
                    <li class="list-group-item">Genero: Drama</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=R6eCIl9oxU8" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt12474056/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://static.cinepolis.com/resources/mx/movies/posters/414x603/35240-657556-20201007070918.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">El camino de xico</h5>
                    <p class="card-text">Sinopsis: La paz y tranquilidad de un pequeño poblado y sus habitantes, se pone en peligro cuando un corporativo quiere destruir la montaña que los protege. Una niña llamada Copi, junto a su mejor amigo y su mascota Xico, un perro xoloitzcuintle, se adentrarán en la montaña para salvar al pueblo. Pero todo dependerá de Xico, cuando descubra que en realidad es un perro mágico y deberá de encontrar la valentía dentro de él para salvar a la montaña y a todos los habitantes del pueblo.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores de voz: Verónica Alva, Verónica Castro, Jay De La Cueva, Lila Downs</li>
                    <li class="list-group-item">Director: Eric D Cabello Díaz</li>
                    <li class="list-group-item">País: México</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: AA</li>
                    <li class="list-group-item">Duracion: 85 minutos</li>
                    <li class="list-group-item">Genero: Animacion</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=pJxWUmXCy5Q" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt12481806/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://i.pinimg.com/originals/05/bb/12/05bb12b2cc2511c51ce7e85583322327.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">trolls 2: world tour</h5>
                    <p class="card-text">Sinopsis: En una aventura que les llevará más allá de todo lo que habían conocido, Poppy y Branch descubren que su tribu de Trolls es solo una de las seis que existen, que el resto están repartidas en seis reinos y consagradas a seis tipos distintos de música: funk, country, tecno, clásica, pop y rock. La reina Bárbara, miembro de la realeza del hard rock, y su padre, el Rey Metal, quieren acabar con el resto de géneros musicales e imponer el reinado del rock. Con el destino del mundo en juego, Poppy y Branch, junto con el resto de la pandilla, visitarán los demás reinos para unir a los Trolls contra los planes de Barb de eclipsarlos a todos.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores de voz:  Anna Kendrick, Justin Timberlake, James Corden, Kunal Nayyar, Ozzy Osbourne, Rachel Bloom</li>
                    <li class="list-group-item">Director: Walt Dohrn, David P. Smith</li>
                    <li class="list-group-item">País: Estados Unidos</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: AA</li>
                    <li class="list-group-item">Duracion: 92 minutos</li>
                    <li class="list-group-item">Genero: Animacion</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=FLv2PxVzFAU" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt6587640/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://unpluggednewscommx.files.wordpress.com/2020/07/m3p-final-baja.jpg?w=413" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Maldicion en el tercer piso</h5>
                    <p class="card-text">Sinopsis: El ex abogado Don Koch con un pasado complicado busca un nuevo comienzo en la vida, decide comprar una vieja casa en ruinas en los suburbios de Chicago con la intención de arreglarla para proporcionarle a él y a su esposa embarazada, Liz, una nueva vida lejos de la ciudad. Don decide comenzar a renovar la casa sin ninguna ayuda, a pesar del consejo de su esposa. Aprende a través de sus nuevos vecinos que la casa tiene un oscuro pasado y comienza a experimentar varios eventos sobrenaturales dentro de la casa.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores: CM Punk, Trieste Kelly Dunn, Sarah Brooks, Elissa Dowling</li>
                    <li class="list-group-item">Director: Travis Stevens</li>
                    <li class="list-group-item">País: Estados Unidos</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: B15</li>
                    <li class="list-group-item">Duracion: 92 minutos</li>
                    <li class="list-group-item">Genero: Terror</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=Cv5O_bvCJf8" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt9026184/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cineenlinea.net/wp-content/uploads/2020/10/POSTER-LOS-CAMARONES-DE-DIAMANTINA-1-731x1024.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Los camarones de diamantina</h5>
                    <p class="card-text">Sinopsis: Matthias Le Goff, medallista de plata del Campeonato Mundial de Natación, hace un comentario homofóbico en la televisión. ¿Su castigo? Entrenar a “Los Camarones de Diamantina”, un equipo gay de waterpolo, más motivado por la fiesta que por la competencia. Esta explosiva combinación de entrenador y equipo se dirige a Croacia para participar en Los Juegos Gay, el encuentro deportivo gay más grande del mundo. El viaje ofrece Matthias la oportunidad de descubrir un mundo desconocido que lo obliga a mirar de nuevo a sí mismo y repensar sus prioridades..</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Actores: Nicolas Gob, Alban Lenoir, Michael Abiteboul, David Baiot.</li>
                    <li class="list-group-item">Director: Cédric Le Gallo, Maxime Govare</li>
                    <li class="list-group-item">País: Francia</li>
                    <li class="list-group-item">Año: 2020</li>
                    <li class="list-group-item">Clasificación: B</li>
                    <li class="list-group-item">Duracion: 103 minutos</li>
                    <li class="list-group-item">Genero: Comedia</li>
                </ul>
                <div class="card-body">
                    <a href="Cine" class="card-link">Horarios</a>
                    <a href="https://www.youtube.com/watch?v=3CaMGZ7KJ4Q" class="card-link">Trailer</a>
                    <a href="https://www.imdb.com/title/tt6918220/reviews?ref_=tt_urv" class="card-link">Reseñas</a>
                </div>
            </div>
        </div>
    </div>
</div>